<header id="header" class="header d-flex align-items-center">
  <div class="container-fluid container-xl position-relative d-flex align-items-center">

    <a href="/" class="logo d-flex align-items-center me-auto">
      <!-- Uncomment the line below if you also wish to use an image logo -->
      <!-- <img src="assets/img/logo.png" alt=""> -->
      <img src="../assets/img/logo1.png" alt="Colegio Señor de los Milagros">
    </a>

    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a href="/" class="active">INICIO</a></li>
        <li class="dropdown has-dropdown"><a href="#"><span>ACERCA DE</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="/about">NUESTRA HISTORIA</a></li>
            <li><a href="#">MISIÓN Y VISIÓN</a></li>
            <li><a href="#">TOUR VIRTUAL</a></li>
            <li><a href="#">MILAGRINOS</a></li>
          </ul>
        </li>
        <li><a href="courses.html">FORMACIÓN</a></li>
        <li><a href="trainers.html">ADMISIÓN</a></li>
      </ul>
      <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    </nav>

    <a class="btn-getstarted" href="courses.html">CONTÁCTANOS</a>

  </div>
</header>
